body {
    margin: 0;
    background: #EEEEEE;
    font-family: Arial;
}

header {
    background: #333333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}

main {
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
   
    width: 80%;
}


nav a:hover {
    background-color: #0096ff;
    color: black;
}

main h1 {
    text-align: center;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    max-width: 90%;
}

main li {
    line-height: 1.5;
}

main p {
    line-height: 1.5;
}

main iframe {
    width: 100%;
}

.video {
    width: 1200px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#au_map {
    transform: rotate(180deg) scaleX(-1);
}

.trans{
    transform: rotate(180deg) scaleX(-1);
}

#au_first{
    color: #0096ff;
}

.gallery {
    display: inline-block;
}

.gallery_item {
    margin: 5px;
    border: 3px solid #333333;
    border-radius: 5px;
    float: left;
    width: 240px;
    background: #333333;
}
  
.gallery_item:hover {
  border: 3px solid #0096ff;
  transform: scale(1.3);
}

.gallery_item img {
    width: 100%;
    margin-top: 5px;
    height: auto;
}

.gallery_item .desc {
    padding: 15px;
    text-align: center;
    color: #0096ff;
}

.collage:hover {
    transform: scale(1.2);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {
    background-color: #c9c9c9;
}

table a{
    color: black;
}

th {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #0096ff;
    color: white;
}

.card{
margin: 5px;
padding: 10px;
background: #837e7e;
border-radius: 20px;
}

.row{
display: flex;
}
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}   

form{
    display: flex; 
    flex-direction: column;
    width: 50%;
    margin: auto;
}


label{
      font-weight:700;
}

input{
      padding: 3px;
      border-radius: 5px;
}


#button{background-color: dimgray;
        color: azure;
}

